---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="pt-36 mb-6">Discover the World: Search a Country</h1>
    <!-- <h1>Uncover Your Country's Details</h1> -->
    <p class="text-lg text-center w-3/4 mx-auto">
      Enter the name of any country to find out more about its culture,
      geography, and key facts. Start your global journey now!
    </p>
    <div class="my-8 mx-12">
      <input
        type="text"
        placeholder="Search for a country..."
        class="w-full p-3 mx-auto mt-4 text-lg rounded-lg shadow-sm bg-white text-gray-700 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200"
      />
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }
</style>
